hw3/.idea/modules.xml
hw3/.idea/vcs.xml
hw3/.idea/workspace.xml
hw3/302001.jpg
hw3/388070.jpg
hw3/color_wheel_730.png
hw3/functions.pyc
hw3/hw3test1.jpg
hw3/iterative.png
hw3/ross022500197.jpg
hw3/south-park03.jpg
hw3/.idea/.name
hw3/.idea/hw3.iml
hw3/.idea/misc.xml
hw3/hw2-2B.jpg
hw3/test.png
hw3/tiger.jpg
hw3/140718-barack-obama-2115_86aea53294a878936633ec10495866b6.jpg
hw3/donald-trump-has-surged-to-the-top-of-2-new-2016-polls.jpg
hw3/1319023.jpg
hw3/20091119-tows-oprah-290x218.jpg
hw3/3442168664_d1f4b7cc67.jpg
hw3/80-of-people-arent-using-linkedin-the-way-theyre-supposed-to.jpg
hw3/ClintonGunControl.jpg
hw3/Time-Lapse-Face.jpg
hw3/Wahab-mehmood-model-Most-Beautiful-People-17.jpg
hw3/bannerimage3.jpg
hw3/breaking_bad_people2.jpg
hw3/day28apr2009.jpg
hw3/mountfordpompeii2_2521445b.jpg
hw3/perry-pulls-out-of-people-s-choice-awards-1326226170-9871.jpg
hw3/this-tumblr-showcases-the-kind-of-people-who-take-selfies-at-the-holocaust-memorial.jpg
