hw3/.idea/modules.xml
hw3/.idea/vcs.xml
hw3/.idea/workspace.xml
hw3/302001.jpg
hw3/388070.jpg
hw3/color_wheel_730.png
hw3/functions.pyc
hw3/hw3test1.jpg
hw3/iterative.png
hw3/ross022500197.jpg
hw3/south-park03.jpg
hw3/.idea/.name
hw3/.idea/hw3.iml
hw3/.idea/misc.xml
hw3/hw2-2B.jpg
hw3/test.png
hw3/tiger.jpg
